# Android Studio specific files
*.iml
.gradle
/local.properties

# IntelliJ IDEA or Android Studio project files
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS specific files
.DS_Store

# Build directories
/build
/captures
.externalNativeBuild
.cxx

# Local properties
local.properties
